.fr-flex {
  display: flex !important;
}

.fr-inline-flex {
  display: inline-flex !important;
}

.fr-display-block {
  display: block !important;
}

.fr-display-none {
  display: none !important;
}

.fr-overflow-hidden {
  overflow: hidden;
}

.fr-min-width-0 {
  min-width: 0;
}

.fr-display-grid {
  display: grid !important;
}

.fr-grid--2x1 {
  grid-template-columns: repeat(2, 1fr);
}

.fr-grid--3x1 {
  grid-template-columns: repeat(3, 1fr);
}

.fr-grid--last-span-3 > div:last-of-type {
  grid-column: 1 / span 3;
}

.fr-grid--last-span-2 > div:last-of-type {
  grid-column: 1 / span 2;
}

.fr-grid--4x1 {
  grid-template-columns: repeat(4, 1fr);
}

.fr-grid--5x1 {
  grid-template-columns: repeat(5, 1fr);
}

.fr-display-inline-block {
  display: inline-block !important;
}

.fr-grid-gap-2v {
  grid-gap: 1rem !important;
  align-items: center !important;
}

.fr-grid-gap-0 {
  grid-gap: 0 !important;
  align-items: baseline !important;
}

.fr-overflow-hidden {
  overflow: hidden;
}

.fr-flex-0 {
  flex: 0 !important;
}

.fr-flex-1 {
  flex: 1 !important;
}

/* md display rules */
@media (min-width: 48em) {
  .fr-display-block-md {
    display: block !important;
  }

  .fr-display-inline-md {
    display: inline !important;
  }

  .fr-grid-md--3x1 {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .fr-grid-md--4x1 {
    grid-template-columns: repeat(4, 1fr);
  }

  .fr-grid-md--5x1 {
    grid-template-columns: repeat(5, 1fr);
  }

  .fr-grid-md--last-span-3 > div:last-of-type {
    grid-column: 1 / span 3 !important;
  }
}

/* xl display rules */
@media (min-width: 78em) {
  .fr-display-block-xl {
    display: block !important;
  }
}
