.fr-width-full {
  width: 100% !important;
}

.fr-width-auto {
  width: auto !important;
}

.fr-height-full {
  height: 100% !important;
}

.fr-min-height-full {
  height: 100% !important;
}

.fr-max-width-full {
  max-width: 100% !important;
}

.fr-min-width-full {
  min-width: 100% !important;
}
