.fr-btn--responsive {
  width: 100%;
  justify-content: center;
}

@media (max-width: 36em) {
  .fr-btn--responsive-sm {
    width: 100%;
    justify-content: center;
  }
}

/* Bouton de tri compact d'un en-tête de table (icône seule, sans padding) */
.fr-btn--sort {
  height: 16px !important;
  padding: 0 !important;

  &::before {
    height: 16px !important;
    margin: 0 !important;
  }
}
