.fr-menu-options {
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  --underline-img: none;
  --text-spacing: 0;
  --title-spacing: 0;
  position: relative;
  pointer-events: auto;
  filter: drop-shadow(var(--overlap-shadow));
  z-index: calc(var(--ground) + 1000);
}

.fr-menu-options__list {
  font-weight: 400;
  border-radius: 4px;
  position: absolute;
  background-color: var(--background-overlap-grey);
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.fr-menu-options__item {
  padding: 12px 16px;
  position: relative;
  cursor: default;

  &:not(:last-child) {
    &::after {
      border-top: 1px solid var(--border-default-grey);
      display: block;
      position: absolute;
      bottom: 0;
      left: 16px;
      width: calc(100% - 32px);
      content: "";
    }
  }
}
