.fr-fieldset .fr-fieldset__content .fr-radio-rich input[type="radio"] + label {
  min-height: 0;
}

.fr-radio-buttons {
  .fr-radio-rich {
    input[type="radio"]:checked ~ .fr-radio-rich__img {
      background-image: none !important;
      border-color: var(--blue-france-sun-113-625);
      box-shadow:
        1px 0 0 0 var(--blue-france-sun-113-625),
        0 1px 0 0 var(--blue-france-sun-113-625),
        0 -1px 0 0 var(--blue-france-sun-113-625);
    }

    input[type="radio"]:focus-visible ~ .fr-radio-rich__img {
      box-shadow:
        2px 0 0 0 #0a76f6,
        0 2px 0 0 #0a76f6,
        0 -2px 0 0 #0a76f6;
    }

    input[type="radio"] ~ .fr-radio-rich__img {
      background-image: none;
      box-sizing: border-box;
      border: var(--slim-grey-border);
      border-left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    input[type="radio"] + label {
      padding: 0 0 0 1rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  input[type="radio"] + label {
    background-image: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-default-grey);
    box-sizing: border-box;
    border: var(--slim-grey-border);
    border-radius: 4px;
    width: 100%;
    margin: 0;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: var(--hover);
    }
  }

  .fr-radio-group {
    height: 100%;
    max-width: none;
  }

  input[type="radio"]:checked + label {
    background-image: none;
    border-color: var(--blue-france-sun-113-625);
    box-shadow: 0 0 0 1px var(--blue-france-sun-113-625);
  }

  input[type="radio"]:focus-visible + label::before {
    outline: none;
  }

  input[type="radio"]:focus-visible + label {
    box-shadow: 0 0 0 2px #0a76f6;
  }

  .fr-radio-group:not(.fr-radio-group--vertical-center)
    input[type="radio"]
    + label::before {
    background-image: none;
    background-color: transparent;
  }

  &.fr-fieldset--inline .fr-radio-group:not(:last-child) {
    margin: 0 !important;
  }

  .fr-message {
    margin-top: 1rem;
  }

  &.fr-fieldset--error .fr-radio-rich input[type="radio"] + label {
    background-image: none;
  }
}

.fr-radio-group.fr-radio-group--vertical-center {
  input[type="radio"] + label {
    /* Centrer le background-image verticalement au lieu de .25rem depuis le haut */
    background-position: 0 center !important;
  }
}
