.card {
  cursor: pointer;
}

.card:hover {
  background-color: var(--background-contrast-grey);
}

.card:active {
  background-color: var(--background-contrast-grey-active);
}

.innerLink {
  position: relative;
  z-index: 2;
}
