dialog.modal {
  :global .fr-modal__header {
    padding-top: 32px;
  }

  :global .fr-modal__title {
    margin-top: -48px;
    display: block;
  }

  :global .fr-modal__content {
    margin-bottom: 40px;
  }
}
