/* Layout setup */
html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

textarea {
  resize: none;
}

:root {
  --slim-grey-border: 1px solid var(--border-default-grey);
  --border-width: 1px;
  --border-style: solid;
  --edition-container-internal-width: 588px;

  /* We need padding for the drag button absolute positioning on the left of the edition content list */
  --edition-container-x-padding: 48px;
  --edition-container-max-width: calc(
    var(--edition-container-internal-width) +
    var(--edition-container-x-padding) *
    2
  );
  --big-smooth-shadow: 0px 12px 32px -8px rgb(0 0 36 / 12%);
}

body {
  --hover-alpha: color-mix(in srgb, var(--hover), transparent 20%);
  --active-alpha: color-mix(in srgb, var(--active), transparent 20%);
}

.sideMenu {
  min-width: 100%;

  @media (min-width: 48em) {
    min-width: fit-content;
    width: 296px;
  }
}

.contentContainer {
  flex-grow: 1;
}

.contentContainer--59 {
  max-width: 59rem;
}

.contentContainer--64 {
  max-width: 64rem;
}

.contentContainer--56 {
  max-width: 56rem;
}

.contentContainer--49 {
  max-width: 49rem;
}

.contentContainer--full {
  max-width: 100%;
}
